body {
    background-color: yellow;
  }
button {
    border-radius: 8%;
    width: 100px;
    height: 80px;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
